[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bandit = "*"
isort = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
pylama = "*"
pylama-pylint = "*"
pytest = "*"
pytest-cov = "*"
pip = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
